.photo-grid__heart {
    background-image: url(../../../images/serdtce.svg);
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: ease 0.3s;
}

.photo-grid__heart:hover {
    opacity: 0.5;
}