.popup__body {
    width: 430px;
    background-color: white;
    color: black;
    position: relative;
    border-radius: 10px;
    text-align: center;  
    padding: 34px 36px 37px; 
    box-sizing: border-box;
}

@media (max-width: 660px) {
    .popup__body {
        width: 282px;
        padding: 25px 22px; 
    }
}