.popup__close {
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    background-image: url(../../../src/images/Close_Icon.png);
    border: none;
    transition: ease 0.3s;
    padding: 0;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media (max-width: 660px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0px;
        top: -32px;
    }
}