.profile__form {
    max-width: 336px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 660px) {
    .profile__form {
        align-items: center;
        margin-bottom: 36px;
    }
}